<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid justify-content-space-between">
    <a class="navbar-brand" href="/movies">BestMovies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/welcome">Logout</a>
        <a class="nav-link" href="/movies">Movies</a>
        <a class="nav-link" href="/profile">Profile</a>
      </div>
    </div>
  </div>
</nav>
<div style="display: flex;  flex-wrap: wrap; margin: 0%; padding: 0%;">
<mat-card *ngFor="let movie of movies;" style="flex: 1; margin-top: 50px; margin-bottom: 50px; padding: 15px;">
<mat-card-header>
<mat-card-title>{{movie.Title}}</mat-card-title>
<mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
</mat-card-header>
<img style="width: 325px; height: 400px" src={{movie.ImagePath}} alt=" {{movie.Title}}" />
<mat-card-actions>
<button
mat-button
color="primary"
(click)="openGenreDialog(movie.Genre)"
>Genre</button>
<button
mat-button
color="primary"
 (click)="openDirectorDialog(movie.Director)"
>Director</button>
<button
mat-button
color="primary"
(click)="openDescriptionDialog(movie.Description)"
>Synopsis</button>
<mat-icon
(click)="addFavoriteMovies(movie)"
>favorite_border</mat-icon>
</mat-card-actions>
</mat-card>
</div>
