<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid justify-content-space-between">
    <a class="navbar-brand" href="/movies">BestMovies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/welcome">Logout</a>
        <a class="nav-link" href="/movies">Movies</a>
        <a class="nav-link" href="/profile">Profile</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
<div class="row">
<div class="col-lg-6 text-center">
<p style="color: aqua; padding-top: 50px;">user info</p>
</div>
<div class="col-lg-6 text-center">
<p style="color: aqua; padding-top: 50px;">user update</p>
</div>
</div>
<div class="row">
<div class="col-lg-12 text-center">
<p style="color: aqua; padding-top: 50px;">favorite movies</p>
</div>
</div>
</div>